<a [routerLink]="['/admin', 'country', 'create']" class="btn mb-3">Создать страну</a>

<div class="form-control">
  <input type="text" placeholder="Найти по названию..." [(ngModel)]="title" class="filter">
</div>

<div *ngIf="countries.length; else loading">
  <app-pagination [items]="pagination" (changePagination)="showList($event)"></app-pagination>
<div class="table-responsive">
  <table>
    <thead>
    <tr>
      <th>Код</th>
      <th>Название</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries">
      <td>{{ country.code }}</td>
      <td>{{ country.title }}</td>
      <td>
        <button class="mr-3 btn btn-link open" [routerLink]="['/admin', 'country', country.id, 'edit']">Редактировать</button>
        <a (click)="remove(country.id)" class="btn-link">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

  <app-pagination [items]="pagination" (changePagination)="showList($event)"></app-pagination>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
