<nav class="navbar main">
  <h1><a [routerLink]="['/admin', 'dashboard']" style="color: black !important;">Войдите в систему</a></h1>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
