<!--<div>На странице записей: {{ items.perPage }}</div>
<div>Текущая страница: {{ items.currentPage }}</div>-->

<ul class="pagination my-3" *ngIf="!(items.total <= 15)">
  <li [ngClass]="{disabled:items.currentPage == 1}" *ngIf="!(pageNumb<=5)">
    <a (click)="changePagination.emit(1)"><<</a>
  </li>
  <li [ngClass]="{disabled:items.currentPage == 1}" *ngIf="!(pageNumb<=3)">
    <a (click)="changePagination.emit(items.currentPage-1)"><</a>
  </li>
  <li *ngFor="let i of result" [ngClass]="{active:items.currentPage == i}">
    <a (click)="changePagination.emit(i)">{{i}}</a>
  </li>
  <li [ngClass]="{disabled:items.currentPage == items.lastPage}" *ngIf="!(pageNumb<=3)">
    <a (click)="changePagination.emit(items.currentPage+1)">></a>
  </li>
  <li [ngClass]="{disabled:items.currentPage == items.lastPage}" *ngIf="!(pageNumb<=5)">
    <a (click)="changePagination.emit(items.lastPage)">>></a>
  </li>
</ul>
