.pagination{
  display: inline-block;
  border-radius: 4px;
  float: right;
  li{
    display: inline;
    &:first-child{
      a{
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    &:last-child{
      a{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    a{
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      &:hover{
        z-index: 2;
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
      }
    }
    &.active{
      a{
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
      }
    }
    &.disabled{
      a{
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
      }
    }
  }
}
