<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('authorId').touched && form.get('authorId').invalid}"
    >
      <label for="authorId">Id субъекта:</label>
      <input id="authorId" type="text" formControlName="authorId">
      <div
        *ngIf="form.get('authorId').touched && form.get('authorId').invalid"
        class="validation"
      >
        <small *ngIf="form.get('authorId').errors.required">
          Введите id субъекта
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('treatiseName').touched && form.get('treatiseName').invalid}"
    >
      <label for="treatiseName">Наименование научного труда:</label>
      <input id="treatiseName" type="text" formControlName="treatiseName">
      <div
        *ngIf="form.get('treatiseName').touched && form.get('treatiseName').invalid"
        class="validation"
      >
        <small *ngIf="form.get('treatiseName').errors.required">
          Введите наименование научного труда
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('issn').touched && form.get('issn').invalid}"
    >
      <label for="issn">ISSN:</label>
      <input id="issn" type="text" formControlName="issn">
      <div
        *ngIf="form.get('issn').touched && form.get('issn').invalid"
        class="validation"
      >
        <small *ngIf="form.get('issn').errors.required">
          Введите ISSN
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('isbn').touched && form.get('isbn').invalid}"
    >
      <label for="isbn">ISBN:</label>
      <input id="isbn" type="text" formControlName="isbn">
      <div
        *ngIf="form.get('isbn').touched && form.get('isbn').invalid"
        class="validation"
      >
        <small *ngIf="form.get('isbn').errors.required">
          Введите ISBN
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('issueYear').touched && form.get('issueYear').invalid}"
    >
      <label for="issueYear">Год выпуска:</label>
      <input id="issueYear" type="text" formControlName="issueYear">
      <div
        *ngIf="form.get('issueYear').touched && form.get('issueYear').invalid"
        class="validation"
      >
        <small *ngIf="form.get('issueYear').errors.required">
          Введите год выпуска
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('numPages').touched && form.get('numPages').invalid}"
    >
      <label for="numPages">Количество страниц:</label>
      <input id="numPages" type="text" formControlName="numPages">
      <div
        *ngIf="form.get('numPages').touched && form.get('numPages').invalid"
        class="validation"
      >
        <small *ngIf="form.get('numPages').errors.required">
          Введите количество страниц
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('treatiseLangEn').touched && form.get('treatiseLangEn').invalid}"
    >
      <label for="treatiseLangEn">Язык труда англ.:</label>
      <input id="treatiseLangEn" type="text" formControlName="treatiseLangEn">
      <div
        *ngIf="form.get('treatiseLangEn').touched && form.get('treatiseLangEn').invalid"
        class="validation"
      >
        <small *ngIf="form.get('treatiseLangEn').errors.required">
          Введите язык труда англ.
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('treatiseLangRu').touched && form.get('treatiseLangRu').invalid}"
    >
      <label for="treatiseLangRu">Язык труда рус.:</label>
      <input id="treatiseLangRu" type="text" formControlName="treatiseLangRu">
      <div
        *ngIf="form.get('treatiseLangRu').touched && form.get('treatiseLangRu').invalid"
        class="validation"
      >
        <small *ngIf="form.get('treatiseLangRu').errors.required">
          Введите язык труда рус.
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('treatiseLangKz').touched && form.get('treatiseLangKz').invalid}"
    >
      <label for="treatiseLangKz">Язык труда каз.:</label>
      <input id="treatiseLangKz" type="text" formControlName="treatiseLangKz">
      <div
        *ngIf="form.get('treatiseLangKz').touched && form.get('treatiseLangKz').invalid"
        class="validation"
      >
        <small *ngIf="form.get('treatiseLangKz').errors.required">
          Введите язык труда каз.
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('publishedScopus').touched && form.get('publishedScopus').invalid}"
    >
      <label for="publishedScopus">Scopus:</label>
      <input id="publishedScopus" type="text" formControlName="publishedScopus">
      <div
        *ngIf="form.get('publishedScopus').touched && form.get('publishedScopus').invalid"
        class="validation"
      >
        <small *ngIf="form.get('publishedScopus').errors.required">
          Введите scopus
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('publishedWebOfScience').touched && form.get('publishedWebOfScience').invalid}"
    >
      <label for="publishedWebOfScience">Web of science:</label>
      <input id="publishedWebOfScience" type="text" formControlName="publishedWebOfScience">
      <div
        *ngIf="form.get('publishedWebOfScience').touched && form.get('publishedWebOfScience').invalid"
        class="validation"
      >
        <small *ngIf="form.get('publishedWebOfScience').errors.required">
          Введите web of science
        </small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('publishingHouse').touched && form.get('publishingHouse').invalid}"
    >
      <label for="publishingHouse">Издательство:</label>
      <input id="publishingHouse" type="text" formControlName="publishingHouse">
      <div
        *ngIf="form.get('publishingHouse').touched && form.get('publishingHouse').invalid"
        class="validation"
      >
        <small *ngIf="form.get('publishingHouse').errors.required">
          Введите издательство
        </small>
      </div>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      Обновить
    </button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
