<a [routerLink]="['/admin', 'treatise', 'create']" class="btn mb-3">Создать научный труд</a>

<div class="form-control">
  <input type="text" placeholder="Найти по фамилии субъекта..." [(ngModel)]="subjectLastName" class="filter">
  <input type="text" placeholder="Найти по имени субъекта..." [(ngModel)]="subjectFirstName" class="filter">
  <input type="text" placeholder="Найти по отчеству субъекта..." [(ngModel)]="subjectMiddleName" class="filter">
  <input type="text" placeholder="Найти по IIN субъекта..." [(ngModel)]="subjectIin" class="filter">
  <input type="text" placeholder="Найти по наименованию научного труда..." [(ngModel)]="treatiseName" class="filter">
  <input type="text" placeholder="Найти по ISSN..." [(ngModel)]="issn" class="filter">
  <input type="text" placeholder="Найти по ISBN..." [(ngModel)]="isbn" class="filter">
</div>

<div *ngIf="treatises.length; else loading">
  <app-pagination [items]="pagination" (changePagination)="showList($event)"></app-pagination>

  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th>ФИО</th>
        <th>Научный труд</th>
        <th>Год выпуска</th>
        <th>Издательство</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let treatise of treatises">
        <td>{{ treatise.lastName + ' ' + treatise.firstName + ' ' + treatise.middleName }}</td>
        <td>{{ treatise.treatiseName }}</td>
        <td>{{ treatise.issueYear }}</td>
        <td>{{ treatise.publishingHouse }}</td>
        <td>
          <button class="mr-3 btn btn-link open" [routerLink]="['/admin', 'treatise', treatise.id, 'edit']">Редактировать</button>
          <a (click)="remove(treatise.id)" class="btn-link">Удалить</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <app-pagination [items]="pagination" (changePagination)="showList($event)"></app-pagination>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
