<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Пожалуйста, введите данные</h2>

  <div class="alert-danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Введите поле email
      </small>
      <small *ngIf="form.get('email').errors.email">
        Поле email должно быть email
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        Введите пароль
      </small>

      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее {{ form.get('password').errors.minlength.requiredLength }} символов
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Войти</button>
</form>
