.main-header{
  background: #1c86c8;
  height: 55px;
  min-height: 55px;
  max-height: 55px;

  .main-page{
    margin-left: 10px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
  }

  /*.header-list li{
    line-height: 40px;
    height: 40px;
    padding: 8px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    float: right;
  }*/
}

.main-content{
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  margin-top: 0!important;

  .sidenav{

    background-color: #f4f4f4;
    .mat-list-base{
      padding-top: 0;
      width: 230px;
    }

    ul li{
      padding: 0 24px;
      &.active{
        background-color: #c7c7c7 !important;
      }
      &:hover{
        background-color: rgba(0,0,0,0.05);
      }
      a{
        display: flex;
        height: 30px;
        align-items: center;
      }
    }
  }
}
