<app-alert></app-alert>
<div class="wrapper">
  <div [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="main-header" *ngIf="auth.isAuthenticated()">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <a [routerLink]="['/admin', 'dashboard']" class="main-page">Главная</a>
    </mat-toolbar>

    <mat-sidenav-container class="main-content"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'push' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav" opened="true">
        <mat-nav-list *ngIf="auth.isAuthenticated()">
          <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/admin', 'country']">Список стран</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/admin', 'treatise']">Научные труды</a></li>

            <li><a href="#" (click)="logout($event)">Выйти</a></li>
          </ul>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="p-4">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
