<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание новой записи</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Название:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Введите название
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('code').touched && form.get('code').invalid}"
  >
    <label for="code">Код:</label>
    <input id="code" type="text" formControlName="code">
    <div
      *ngIf="form.get('code').touched && form.get('code').invalid"
      class="validation"
    >
      <small *ngIf="form.get('code').errors.required">
        Введите код
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Создать</button>
</form>
